extends layout

block content
  .w3-container
    h1 Lista de Prémios
    ul.w3-ul
      li
        a(href="http://localhost:3012/prizes") Lista de prémios
      li
        a(href="http://localhost:3012/prizes/categorias") Lista de Categorias
      li
        a(href="http://localhost:3012/prizes/laureados") Lista de Laureados
