extends layout

block content
  .w3-container
    h1 Lista de Prémios
    table.w3-table-all
        tr
            th Ano
            th Categoria
            th Laureados
        each premio in lista
            tr
                td=premio.year
                td=premio.category 
                td
                    each l in premio.laureates
                        li=l.firstname + " " + l.surname   
            
    adress
        a(href="http://localhost:3012/") HomePage