doctype html
html
    head
        title Gestão de Tarefas (DAW - TPC 5)
        meta(charset='UTF-8')
        link(rel='stylesheet', href='/w3.css')
        script(src="http://unpkg.com/axios/dist/axios.min.js")
        script(src="./apagar.js")
    body
        block content