extends layout

block content
    .w3-container.w3-section
        .w3-card-4
            header.w3-container.w3-cyan
                h3 Informação de Filme
            .w3-container
                table.w3-table-all.w3-section
                    tr
                        th Título
                        th Ano
                        th Elenco
                        th Géneros
                        th Operações
                    tr
                        td= film.title
                        td= film.year
                        td
                            each c in film.cast
                                li= c
                        td
                            each g in film.genres
                                li= g
                        td
                            button.w3-btn(onclick="eliminar('" + film._id + "')" class='fa fa-trash')
                            button.w3-btn(onclick="window.location.assign('/filmes/update/" + film._id + "')" class='fa fa-edit')

        .w3-container.w3-cyan
            footer.w3-container
                p
                    a(href="/") Voltar à página principal