extends layout
block content
  .w3-container
    h1 Gestão de uma Lista de Canções
    .w3-card-4

      header.w3-container.w3-light-blue
        h3 Nova Canção
      .w3-container
        form.w3-container(action='/' method='POST')
          label
            b Província
          input.w3-input.w3-border(type='text' name='prov')
          label
            b Local
          input.w3-input.w3-border(type='text' name='local')
          label
            b Título
          input.w3-input.w3-border(type='text' name='tit')
          label
            b Musico
          input.w3-input.w3-border(type='text' name='musico')
          label
            b Duração 
          input.w3-input.w3-border(type='text' name='duracao')
          input.w3-button.w3-light-grey(type='submit' value='Enviar')
      .w3-container
          div.w3-panel.w3-topbar.w3-bottombar.w3-light-blue.w3-border-light-blue
              h3 Lista de Canções
          table.w3-table-all
            tr
              th Título
              th Musico
              th Duracao
              th Operações
              th
            each c in lista
              tr
                  td= c.tit
                  td= c.musico
                  td= c.duracao
                  td 
                      button.w3-button.w3-circle.w3-green(onclick="apagaItem('" + c.id + "')") Apagar
                      a(href='/cancao'+ c.id)
                                button.w3-button.w3-circle.w3-green Detalhes
                
