doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="javascripts/functions.js")
    script(src="http://unpkg.com/axios/dist/axios.min.js" )


  body
    block content
  footer.w3-container.w3-light-blue
          address Gerado por Lista de Canções App
